@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--dark: #222831;
	--grey: #393e46;
	--orange: #d65a31;
	--light: #eeeeee;
}

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: var(--dark);
	color: var(--light);
}

nav {
	background: var(--grey);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}

nav .logo {
	display: flex;
	align-items: center;
}

nav .logo img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

nav .logo p {
	display: flex;
	color: var(--orange);
	font-size: 24px;
	font-weight: 600;
}

nav ul {
	display: flex;
}

nav .navlinks li a {
	color: var(--light);
	font-size: 16px;
	font-weight: 500;
	margin-left: 30px;
	text-decoration: none;
	transition: .5s;
}

nav .navlinks li a:hover,
nav .navlinks li a:active {
	color: var(--orange);
}

main {
	height: 100vh;
	align-items: center;
	padding: 0 10%;
	margin-top: 20%;
}

.about {
	display: flex;
}

.about-content {
	background: ;
}

.about-content h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	color: var(--orange);
}

.about-content p {
	font-size: 16px;
	margin: 20px 0 40px;
	line-height: 1.2;
}

.about img {
	display: none;
}

.projects {
	display: flex;
	flex-direction: column;
}

.projects-content {
	margin: 20px 0 40px;
}

.main-project {
	border: 2px solid var(--orange);
}

.main-project img {
	height: auto;
	width: 100%;
}

.other-projects {
	display: flex;
	height: auto;
	margin: 2% 0;
	gap: 2%;
}

.other-projects a {
	display: flex;
	flex-wrap: wrap;
}

.other-projects img {
	height: auto;
	width: 100%;
}

.project {
	border: 2px solid var(--orange);
}